

* {
    margin: 0;
    padding: 0;
  }



.tbcIt {
    text-align: center;
    height: auto;
}

.tbcIt-content {
    color: white;
    margin-top: 0px;
    width: 100%;
    height: 400px;
    background-image: url('../../assets/image/tbcitImage.webp');
    display: flex;
    text-align: left;
    justify-content: center;
    
}



.tbcitContent {
    width: 100%;
    height: 400px;
    background-color: black;
}
