* {
    margin: 0;
    padding: 0;
}
h1 {
}

.main {
    text-align: center;
    height: auto;
    color: white;
}


.mainImage {
    color: white;
    margin-top: 0px;
    width: 100%;
    height: 400px;
    background-image: url('../../assets/image/mainImage.webp');
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}



.mainContent {
    width: 100%;
    height: 400px;
    background-color: black;
}